# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
api/admin/admin.iml
api/customer/customer.iml
api/parent/parent.iml
api/customer/log/
api/customer/target/
data/
api/admin/target/
api/common-conf/common-conf.iml
api/common-conf/target/
api/product-service/product-service.iml
api/product-service/target/
api/user-service/target/
api/user-service/user-service.iml
frontend/customer/customer.zip
frontend/customer/customer/
frontend/customer/package-lock.json
node_modules/
package-lock.json
