<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div id="login">
        <input type="text" placeholder="手机号" v-model="phone"><br/>
        <input type="password" placeholder="密码" v-model="password"><br/>
        <input type="button" @click="login" value="登录">
    </div>
</body>
<script src="js/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script>
    var data = {
        phone:"",
        password:""
    }
    var vm = new Vue({
        el:"#login",
        data:data,
        methods:{
            login:function () {
                this.$http.post("http://localhost:8083/customer/auth/login.json",
                    {phone:data.phone,password:data.password},
                    {emulateJSON:true}).then(
                    function (res) {
                        console.log(res.body)
                        alert("登录成功");
                    },function (res) {
                        alert(res.body.resDes)
                    }
                );

            }
        }
    })
</script>
</html>