<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验证码</title>
</head>
<body>
    <div id="login">
        <input placeholder="请输入手机号" v-model="phone"><br/>
        <input placeholder="请输入右侧的验证码" v-model="code"/><img src="http://localhost:8083/customer/auth/captcha"/><br/>
        <input type="button" @click="login" value="获取短信验证码"><br/>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script>
    var data = {
        phone:"",
        code:""
    }
    var vm = new Vue({
        el:"#login",
        data:data,
        methods:{
            login:function () {
                this.$http.post("http://localhost:8083/customer/auth/sendMsg.json",
                    {phone:data.phone,type: 1,userInputCaptcha:data.code},
                    {emulateJSON:true}).then(
                    function (res) {
                        var resp = res.body;
                        if(resp.resCode === '000000'){
                            alert("短信发送成功");
                        }else {
                            alert(resp.resDes)
                        }
                    }
                );
            }
        }
    })
</script>
</html>